<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'> 
<link rel='stylesheet' href = 'https://08devagbasp1a.inside.ams1907.com/UIPROTOTYPE/AFF/Glance/Specs/assets/Operations/package@1x.svg'>

<br>
<div>
  <div *ngFor='let flight of flights$ | async' style="text-align:left;">
    <table class="table-bordered" style="position:relative; margin-bottom:2%;">
      <thead>
        <tr>
        <th id="hubCamLabel" style="font-size: 22px; color: black">&nbsp;<span class='fa fa-plane'></span>&nbsp;<strong>In-Bound Aircraft: {{flight.gateway}} {{flight.flightNumber}} &nbsp;&nbsp;at &nbsp;&nbsp;  Ramp Position: {{flight.parkingLocationString}}</strong></th>
        </tr>
      </thead>
      <div *ngIf='flight.ulds !== null'>
        <div *ngFor='let uld of flight.ulds'>
        <tr *ngIf='uld'>
          <br>
          <h4 style="color: black; font-size: 22px"> <span class='fa fa-archive'></span>&nbsp;Find ULD: <strong>{{uld.uldNumber}}</strong></h4>     
        </tr>
        <div *ngIf='uld && uld.packages !== null'>
        <tr *ngFor='let package of uld.packages'>
          <td style="text-align: left">
            <h4 style=" color:black; font-family: 'Segoe UI'; font-size: 22px">&nbsp;Retrieve Package: <strong>{{ package.trackingNumber }}</strong>&nbsp;<span style="color: black" class='fa fa-cube'></span>
               &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black"class='fas fa-arrow-right'></span>&nbsp;&nbsp;&nbsp;&nbsp;Take Package to: <strong>{{ package.outbound.gateway }},{{ package.outbound.parkingLocationString }}&nbsp;</strong>
               <span style="color:black"class='fa fa-plane'></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: black"class='fas fa-arrow-right' id = "timeColor"></span>&nbsp;&nbsp;&nbsp;&nbsp;Time Remaining:
                <strong id= "timeRemaining" style="color:green;">{{getTimeInMinutes(package)}}</strong>
               &nbsp;<span style="color:black"class='far fa-clock'></span></h4> 
          </td>
        </tr>
        </div>
      </div>
      </div>
    </table>
  </div>
  </div>
  


