<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container" id = "myDIV">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button class="btn" (click)="btnTab('A')"><strong>Wing A</strong></button>
        </div>
        <div class="btn-group">
          <button class="btn"  (click)="btnTab('B')"><strong>Wing B</strong></button>
        </div>
        <div class="btn-group">
          <button class="btn" (click)="btnTab('C')"><strong>Wing C</strong></button>
        </div>
        <div class="btn-group">
          <button class="btn"><strong>Wing D</strong></button>
        </div>
        <div class="btn-group">
          <button class="btn"><strong>Wing E</strong></button>
        </div>
      </div>
    </div>
  </body>
  
  <script>
      // Add active class to the current button (highlight it)
      var header = document.getElementById("myDIV");
      var btns = header.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
      }
  </script>
  
  