<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  
  <body> 
  <div class="container, pos">
    <div class="form-inline">
      <p> <strong><i class="fa fa-plane" style="font-size:36px;"></i>&nbsp;Total Inbound Aircraft: 2&nbsp;&nbsp;&nbsp;&nbsp;</strong> <strong><i class="fa fa-archive" style="font-size:36px"></i>&nbsp;Total ULD's: 2&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      <strong><i class="fa fa-cube" style="font-size:36px"></i>&nbsp;Total Packages: {{totCount}}&nbsp;&nbsp;</strong></p>
    </div>
  </div>
  
</body>