<nav class="navbar navbar-dark navbar-expand navbar-low-z-index, flex-container">
    <div class="container-fluid">
      <div class="navbar-header, flex-container">
          <div class="form-inline, flex-container" >
            <img class = "shieldLogo" alt="Brand" src="assets/img/header/Shield Header.svg">
            <p class = "navbar-text" style="font-size: 160%; margin-right: 7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>EAM Run-Out</strong></p>
          </div>
      </div>
          <ul class="navbar-nav ml-auto">   
      </ul>
    </div>
  </nav>
